
<html>
  <head>
    <link href="css/splash.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,100' rel='stylesheet' type='text/css'>
    <title>Haiku+: Welcome</title>
  </head>
  <body>
  <div class="splash-bg-box-outer" />
    <div class="splash-bg-box-inner">
      <div class="splash-logo">
        <img src="img/logo-sm.gif" class="splash-logo" />
      </div>
      <div class="splash-haiku-text">
Lorem ipsum dolor sit amet, consectetur<br/>
adipisicing elit, sed do eiusmod tempor<br/>
incididunt ut labore et dolore magna aliqua.<br/>
      </div> 
      <div class="splash-start-box">
        <a href="/haikus">
          <img src="img/start-button.gif" />
        </a>
      </div>
    </div>
  </body>
</html>